include ../../constant_vars

svg(xmlns=ns_svg viewBox="0 0 200 200")
    title Load
    path.border(fill='none' stroke='red'
        d="M10 10,10 190,190 190,190 10Z")
    path.folder(
        d="M20 100,20 180,150 180,150 100,70 100,65 85,40 85,35 100")
    path.note_mark(
        d="m154 38c-11 -5,-21 -18,-21 -18v8,63c-3 -1,-8 -2,-12 -1,-10 2,-17 10,-16 18,2 8,11 13,21 11,9 -2,16 -8,16 -15v-55c29 4,24 24,22 30,17 -19,8 -32,-11 -42Z")
    path.arrow(
        d="M90 60,90 30,130 70,90 110,90 80Q50 80,50 140,50 60,90 60Z")
